.footer-in {
  margin: 30px 0 10px 0;
  padding: 20px;
  width: 100%;

  border: 1px solid var(--color-black);
}

.footer__list-w {
  display: flex;

  @include mobile {
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }
}

.footer__list-side-w {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  width: 100%;

  @include mobile {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.footer__list {
  min-width: 300px;

  @include mobile {
    min-width: 100%;
  }

  &.adres-mod {
    min-width: 400px;

    @include mobile {
      min-width: 100%;
    }
  }
}

.footer__list-side {
  margin: 15px 20px -10px 0;

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    margin-right: 0px;
  }
}

.footer__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;

  padding: 0 0 10px 0;

  @include mobile {
    text-align: center;
    flex-direction: column;
  }
}

.footer__item-adress {
  font-weight: 600;
  margin-bottom: 10px;
  width: 100%;
}

.footer__item-street {
  margin-bottom: 10px;
}

.footer__item-partners {
  font-weight: 600;
  margin-bottom: 10px;
  width: 100%;
}

.footer__item-partners-logo {
  display: flex;
  flex-wrap: wrap;

  margin: 0 -10px -10px 0;
  min-height: 50px;

  @include mobile {
    justify-content: center;
  }
}

.partners-logo-w {
  padding: 0 10px 10px 0;
  max-width: 100px;
  height: auto;
}

.footer__phone {
  font-size: 22px;
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin: 0 -15px -10px 0;
}

.footer__link-icon {
}

.footer__rights {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin: 20px 0 0 0;
}

.footer__rights-link {
  padding: 0 10px 0 0;
  margin: 0 10px 0 0;
  border-right: 1px solid var(--color-black);
}

.social_dropdown,
.info_dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  width: 50%;
  min-width: 300px;

  margin: 15px 0;

  @include mobile {
    width: 100%;
    min-width: 100%;
  }
}
