.price__list-w {
}

.price__list {
  border: 1px solid var(--color-black);
  margin: 0;
}

.price__row {
  &:nth-child(odd) {
    background-color: rgb(222, 222, 230);
  }

  &.header-mod {
    font-size: 18px;
    font-weight: 600;
  }
}

.price__coll-w {
  display: flex;
  flex-direction: row;
}

.price__coll {
  width: 100%;
  max-width: calc(100% / 5);
  min-width: 100px;

  padding:  10px;

  border-left: 1px solid var(--color-black);

  &:first-child {
    border: none;
  }
}

.price__coll-val {
}
