.card {
  padding: 0 20px 50px 0px;

  width: calc(100% / 3);
  min-width: 300px;
}

.card-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  transition: all ease 0.2s;

  &:hover {
    box-shadow: 0px 0px 10px 1px rgba(black, 0.2);
  }
}

.card__img-w {
  width: 100%;
  height: 200px;

  overflow: hidden;
}

.card__img {
  width: 100%;
  height: 100%;
}

.card__info-w {
  width: 100%;
  padding: 10px;

  &.grid-mod {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0px;
    color: black;
  }
}

.card-info {
  margin: 20px 0 10px;
}

.card-info__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  padding: 0 0 10px 0;
}
.card-info__item-descr {
  margin: 0 10px 0 0;
}
.card-info__item-val {
}
.btn-base {
}
