.company {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 15px;

  border: 1px solid var(--color-black);

  @include mobile {
    flex-direction: column;
	}
}

.company__info {
  width: 60%;

  &.requrst-mod {
    width: 100%;
  }

  @include mobile {
    width: 100%;

    margin-bottom: 20px;
	}
}

.company__form {
  width: 40%;
  height: 100%;

  &.requrst-mod {
    width: 100%;
  }

  @include mobile {
    width: 100%;
	}
}

.company__form-in {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  height: 100%;
  padding: 0 15px;

  &.requrst-mod {
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  @include mobile {
    padding: 0;
	}
}
