<div class="card">
  <a href="#" class="card-in grid-mod">

    <div class="card__img-w">
      <img src="https://clck.ru/WXoHH" alt="" class="card__img">
    </div>

    <div class="card__info-w grid-mod">
      <ul class="card-info">

        <li class="card-info__item">
          <div class="card-info__item-descr">
            Страна:
          </div>
          <div class="card-info__item-val">
            Россия
          </div>
        </li>

        <li class="card-info__item">
          <div class="card-info__item-descr">
            Борт:
          </div>
          <div class="card-info__item-val">
            Высокий
          </div>
        </li>

        <li class="card-info__item">
          <div class="card-info__item-descr">
            Грузоподъемность:
          </div>
          <div class="card-info__item-val">
            13т
          </div>
        </li>

      </ul>
    </div>

  </a>
</div>
