<div class="card">
  <div class="card-in">

    <div class="card__img-w">
      <img src="https://clck.ru/WXoHH" alt="" class="card__img">
    </div>

    <div class="card__info-w">
      <ul class="card-info">

        <li class="card-info__item">
          <div class="card-info__item-descr">
            Страна:
          </div>
          <div class="card-info__item-val">
            Россия
          </div>
        </li>

        <li class="card-info__item">
          <div class="card-info__item-descr">
            Борт:
          </div>
          <div class="card-info__item-val">
            Высокий
          </div>
        </li>

        <li class="card-info__item">
          <div class="card-info__item-descr">
            Грузоподъемность:
          </div>
          <div class="card-info__item-val">
            13т
          </div>
        </li>

        <li class="card-info__item">
          <div class="card-info__item-descr">
            Цена за час:
          </div>
          <div class="card-info__item-val">
            1621 руб
          </div>
        </li>

        <li class="card-info__item">
          <div class="card-info__item-descr">
            Цена за смену:
          </div>
          <div class="card-info__item-val">
            18900 руб
          </div>
        </li>

      </ul>

      <button class="btn-base">Заказать манипулятор</button>
    </div>

  </div>
</div>
