<div class="swiper-slide services-slide">
  <a href="#" class="services-slide-in">

    <div class="services-slide__img-w">
      <img src="https://clck.ru/WXzKc" alt="" class="services-slide__img">
    </div>
    <div class="services-slide__info">
      <h3 class="section__title center-mod">This is slide one</h3>
      <div class="section__descr center-mod">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dicta iste velit veritatis praesentium natus minima sequi! Sed ab vitae quod amet voluptate odit officia fugit aliquid! Ipsa, voluptate ut.
      </div>
    </div>

  </a>
</div>
