<section class="section">
  <div class="container">

    <div class="tabs">

      <div class="docs__lane-tab">

        <div class="tab__wrapper">
          <div class="tab__btn">lorem ipsum dolor</div>
          <div class="tab__btn tab-active">lorem ipsum dolor</div>
          <div class="tab__btn">lorem ipsum dolor</div>
          <div class="tab__btn">some item search</div>
          <div class="tab__btn">some item search</div>
        </div>

        <div class="tab__field">
          <span>Some text <a href="#">test link in text</a></span>
        </div>
        <div class="tab__field field-active">
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque distinctio ad ea aliquid velit
            reprehenderit
            nisi id iusto officiis, sit corporis saepe incidunt nemo, magnam enim? Error accusamus quis nisi.
          </span>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque distinctio ad ea aliquid velit
            reprehenderit
            nisi id iusto officiis, sit corporis saepe incidunt nemo, magnam enim? Error accusamus quis nisi.
          </span>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque distinctio ad ea aliquid velit
            reprehenderit
            nisi id iusto officiis, sit corporis saepe incidunt nemo, magnam enim? Error accusamus quis nisi.
          </span>
        </div>
        <div class="tab__field">
          3
        </div>
        <div class="tab__field">
          some item search
        </div>
        <div class="tab__field">
          some item search
        </div>
        <div class="tab__field">
          some item search
        </div>

      </div>

    </div>

  </div>
</section>
