<section class="section">
  <div class="container">

    <div class="advantage">

      <h2 class="section__title center-mod">
        Наши преимущества
      </h2>
      <div class="section__descr">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis illo esse in quos eligendi, ea velit repellendus accusamus hic adipisci reprehenderit optio ut vero maiores sit, consectetur aliquid quasi vel!
        Dolorum ad repudiandae assumenda amet non ipsam deserunt corporis repellendus maxime, quam cupiditate eius ab neque explicabo soluta natus numquam dignissimos, aperiam quis veritatis magnam sequi! Molestias sit dolorem ut!
        Adipisci voluptatibus distinctio esse facilis, dolorem repellat accusamus rem aspernatur itaque. Distinctio perspiciatis, consequuntur enim sequi aliquam officia, voluptas consequatur accusamus adipisci exercitationem, laboriosam ipsa corporis voluptates dolorum soluta porro.
      </div>

    </div>

  </div>
</section>
