<section class="section mod-offset">
  <div class="container">

    <div class="breadcrumbs">

      <ul class="breadcrumbs__list">

        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">
            Главная
          </a>
        </li>

        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">
            Аренда манипулятора
          </a>
        </li>

        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">
            Аренда манипулятора
          </a>
        </li>

      </ul>

    </div>

  </div>
</section>
