<section class="section">
  <div class="container">

    <div class="characteristics">

      <h2 class="section__title center-mod">
        Полные Характеристики
      </h2>

      <div class="characteristics__list-w">
        <ul class="characteristics__list">

          <li class="characteristics__row header-mod">
            <ul class="characteristics__coll-w">
              <li class="characteristics__coll">
                <div class="characteristics__coll-val">
                  Название
                </div>
              </li>

              <li class="characteristics__coll">
                <div class="characteristics__coll-val">
                  заглавие 2
                </div>
              </li>
            </ul>
          </li>

          <li class="characteristics__row">
            <ul class="characteristics__coll-w">
              <li class="characteristics__coll">
                <div class="characteristics__coll-val">
                  Кран
                </div>
              </li>

              <li class="characteristics__coll">
                <div class="characteristics__coll-val">
                  Что то не знаю что
                </div>
              </li>

            </ul>
          </li>

          <li class="characteristics__row">
            <ul class="characteristics__coll-w">
              <li class="characteristics__coll">
                <div class="characteristics__coll-val">
                  Кран
                </div>
              </li>

              <li class="characteristics__coll">
                <div class="characteristics__coll-val">
                  Что то не знаю что
                </div>
              </li>

            </ul>
          </li>

          <li class="characteristics__row">
            <ul class="characteristics__coll-w">
              <li class="characteristics__coll">
                <div class="characteristics__coll-val">
                  Кран
                </div>
              </li>

              <li class="characteristics__coll">
                <div class="characteristics__coll-val">
                  Что то не знаю что
                </div>
              </li>

            </ul>
          </li>

          <li class="characteristics__row">
            <ul class="characteristics__coll-w">
              <li class="characteristics__coll">
                <div class="characteristics__coll-val">
                  Кран
                </div>
              </li>

              <li class="characteristics__coll">
                <div class="characteristics__coll-val">
                  Что то не знаю что
                </div>
              </li>

            </ul>
          </li>

          <li class="characteristics__row">
            <ul class="characteristics__coll-w">
              <li class="characteristics__coll">
                <div class="characteristics__coll-val">
                  Кран
                </div>
              </li>

              <li class="characteristics__coll">
                <div class="characteristics__coll-val">
                  Что то не знаю что
                </div>
              </li>

            </ul>
          </li>

        </ul>
      </div>

      <div class="section__descr offset-mod">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores, fugiat recusandae sequi distinctio et officiis! Fuga, possimus velit nam ipsum repudiandae, mollitia accusantium, eos porro rem laboriosam omnis quia.
        Quo provident minus earum dolorem molestiae libero aliquam corrupti distinctio repellat, error et molestias quia soluta dolores cum eaque placeat eveniet iusto recusandae? Quos temporibus quasi qui magnam voluptate beatae.
        Voluptatibus delectus est numquam autem aperiam omnis quae odio iste obcaecati in, assumenda, libero esse? Vero delectus dicta quod consequatur? Similique, exercitationem? Deserunt accusamus nulla fugit impedit, vitae cumque eaque?
        Accusantium soluta excepturi, pariatur repellat adipisci eaque quis. Consectetur, sed explicabo ducimus consequatur possimus assumenda magnam minima quas iusto quisquam animi vitae voluptate perspiciatis fuga nulla voluptates vel commodi molestiae!
      </div>

    </div>

  </div>
</section>
