<section class="section">
  <div class="container">

    <div class="company">

      <article class="company__info">
        <h2 class="section__title">
          О компании
        </h2>
        <div class="section__descr limit-mod">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi deserunt atque, ex ea, earum, delectus eum possimus incidunt architecto adipisci totam iste quod obcaecati! Eveniet facilis eligendi voluptas quod quisquam!
        </div>
      </article>

      <form action="POST" class="company__form">
        <div class="company__form-in">
          <label for="" class="form-label label-v1">
            <input class="form-input" type="text" name="" id="" placeholder="Имя">
          </label>

          <label for="" class="form-label label-v1">
            <input class="form-input" type="text" name="" id="" placeholder="Фамилия">
          </label>

          <button class="btn-base">Заказать манипулятор</button>
        </div>
      </form>

    </div>

  </div>
</section>
