<section class="section">
  <div class="container">

    <div class="equipment">
      <h2 class="section__title center-mod">
        Дополнительное оборудование
      </h2>
      <!-- Slider main container -->
      <div class="swiper-container equipment-slider">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          @include('templates/equipment-slide.html')
          @include('templates/equipment-slide.html')
          @include('templates/equipment-slide.html')
          @include('templates/equipment-slide.html')
          @include('templates/equipment-slide.html')
          @include('templates/equipment-slide.html')
          @include('templates/equipment-slide.html')
          @include('templates/equipment-slide.html')

        </div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

    </div>

  </div>
</section>
