<section class="section">
  <div class="container">

    <div class="equipment">
      <!-- Slider main container -->
      <div class="swiper-container equipment-slider">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide equipment-slide">
            <a href="#" class="equipment-slide-in">

              <div class="equipment-slide__img-w">
                <img src="https://clck.ru/WXogQ" alt="" class="equipment-slide__img">
              </div>
              <div class="equipment-slide__info">
                <h3 class="section__title center-mod width-mod">This is slide one</h3>
              </div>

            </a>
          </div>

          <div class="swiper-slide equipment-slide">
            <a href="#" class="equipment-slide-in">

              <div class="equipment-slide__img-w">
                <img src="https://clck.ru/WXoW2" alt="" class="equipment-slide__img">
              </div>
              <div class="equipment-slide__info">
                <h3 class="section__title center-mod width-mod">This is slide two</h3>
              </div>

            </a>
          </div>

          <div class="swiper-slide equipment-slide">
            <a href="#" class="equipment-slide-in">

              <div class="equipment-slide__img-w">
                <img src="https://clck.ru/WXoW2" alt="" class="equipment-slide__img">
              </div>
              <div class="equipment-slide__info">
                <h3 class="section__title center-mod width-mod">This is slide three</h3>
              </div>

            </a>
          </div>

        </div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

    </div>

  </div>
</section>
