<footer class="footer">
	<div class="container">

    <div class="footer-in">

      <div class="footer__list-w">

        <ul class="footer__list adres-mod">

          <li class="footer__item">
            <div class="footer__item-adress">
              Адрес:
            </div>
            <div class="footer__item-street">
              Ближнее Кукуево 123 чердак под лестницей
            </div>
          </li>

          <li class="footer__item">
            <div class="footer__item-adress">
              Адрес:
            </div>
            <div class="footer__item-street">
              Ближнее Кукуево 123 чердак под лестницей
            </div>
          </li>

          <li class="footer__item">
            <div class="footer__item-partners">
              Наши партнеры:
            </div>
            <div class="footer__item-partners-logo">
                <div class="partners-logo-w">
                  @include('../img/tesla.svg')
                </div>
                <div class="partners-logo-w">
                  @include('../img/tesla.svg')
                </div>
                <div class="partners-logo-w">
                  @include('../img/spacex.svg')
                </div>

            </div>
          </li>

        </ul>

        <div class="footer__list-side-w">

          <div class="info_dropdown center-mod">

            <div class="dropdown__btn-wrapper">
              <div class="dropdown__btn footer-mod">
                Открыть ссылки
              </div>
            </div>

            <div class="dropdown__field">

              <ul class="footer__list-side dropdown__field-inner">
                <li class="footer__item">
                  <div class="section__descr">
                    Непонятные ссылки ссылки
                  </div>
                </li>

                <li class="footer__item">
                  <div class="section__descr">
                    Непонятные ссылки
                  </div>
                </li>

                <li class="footer__item">
                  <div class="section__descr">
                    Непонятные ссылки
                  </div>
                </li>

                <li class="footer__item">
                  <div class="section__descr">
                    Непонятные ссылки
                  </div>
                </li>

              </ul>

            </div>

          </div>

          <div class="social_dropdown center-mod">

            <div class="dropdown__btn-wrapper">
              <div class="dropdown__btn footer-mod">
                Соц сети
              </div>
            </div>

            <div class="dropdown__field">

              <ul class="footer__list-side">
                <li class="footer__item">
                  <div class="footer__phone">
                    +7 900 930 65 33
                  </div>
                </li>

                <li class="footer__item">
                  <div class="section__descr">
                    График работы и тут какой то текст
                  </div>
                </li>

                <li class="footer__item">
                  <div class="footer__social">
                    <div class="icon-w offset-mod footer-mod">
                      <a href="#" class="footer__link-icon">
                        @include('../img/vk.svg')
                      </a>
                    </div>

                    <div class="icon-w offset-mod footer-mod">
                      <a href="#" class="footer__link-icon">
                        @include('../img/insta.svg')
                      </a>
                    </div>

                    <div class="icon-w offset-mod footer-mod">
                      <a href="#" class="footer__link-icon">
                        @include('../img/odn.svg')
                      </a>
                    </div>

                    <div class="icon-w offset-mod footer-mod">
                      <a href="#" class="footer__link-icon">
                        @include('../img/face.svg')
                      </a>
                    </div>

                  </div>
                </li>

              </ul>

            </div>
          </div>

        </div>

      </div>

      <div class="footer__rights">
        <a href="#" class="footer__rights-link">
          <div class="section__descr">
            Сделано на студии Васи Пупкина
          </div>
        </a>
        <div class="section__descr">
          Все права защищены
        </div>
      </div>
    </div>

  </div>
</footer>
