<section class="section">
  <div class="container">

    <div class="grid">

      <h2 class="section__title center-mod">Выбрать Манипулятор</h2>

      <div class="product__list">
        @include('templates/grid-item.html')
        @include('templates/grid-item.html')
        @include('templates/grid-item.html')
        @include('templates/grid-item.html')
        @include('templates/grid-item.html')
        @include('templates/grid-item.html')
        @include('templates/grid-item.html')
        @include('templates/grid-item.html')
      </div>

    </div>

  </div>
</section>
