<section class="section">
  <div class="container">

    <div class="hero">
      <!-- Slider main container -->
      <div class="swiper-container hero-slider">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide hero-slide">
            <div class="hero-slide-img-w">
              <img src="https://clck.ru/WXogQ" alt="" class="hero-slide-img">
            </div>
            <div class="hero-slide-in">
              <h1 class="section__title center-mod width-mod">This is slide one</h1>
              <div class="section__descr center-mod width-mod">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, magnam autem quos voluptas explicabo odio quaerat, corrupti voluptate illum rem maiores odit ipsam. Nulla quae deleniti iure culpa doloremque nesciunt.
              </div>
              <a href="#" class="btn_base">some link</a>
            </div>
          </div>
          <div class="swiper-slide hero-slide">
            <div class="hero-slide-img-w">
              <img src="https://clck.ru/WXoW2" alt="" class="hero-slide-img">
            </div>
            <div class="hero-slide-in">
              <h1 class="section__title center-mod width-mod">This is slide two</h1>
              <div class="section__descr center-mod width-mod">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, magnam autem quos voluptas explicabo odio quaerat, corrupti voluptate illum rem maiores odit ipsam. Nulla quae deleniti iure culpa doloremque nesciunt.
              </div>
              <a href="#" class="btn_base">some link</a>
            </div>
          </div>
          <div class="swiper-slide hero-slide">
            <div class="hero-slide-img-w">
              <img src="https://clck.ru/WXoW2" alt="" class="hero-slide-img">
            </div>
            <div class="hero-slide-in">
              <h1 class="section__title center-mod width-mod">This is slide three</h1>
              <div class="section__descr center-mod width-mod">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, magnam autem quos voluptas explicabo odio quaerat, corrupti voluptate illum rem maiores odit ipsam. Nulla quae deleniti iure culpa doloremque nesciunt.
              </div>
              <a href="#" class="btn_base">some link</a>
            </div>
          </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

    </div>

  </div>
</section>
