<section class="section">
  <div class="container">

    <div class="price">

      <h2 class="section__title center-mod">
        Стоимость аренды манипулятора
      </h2>

      <div class="price__list-w">
        <ul class="price__list">

          <li class="price__row header-mod">
            <ul class="price__coll-w">
              <li class="price__coll">
                <div class="price__coll-val">
                  Название
                </div>
              </li>

              <li class="price__coll">
                <div class="price__coll-val">
                  заглавие 2
                </div>
              </li>

              <li class="price__coll">
                <div class="price__coll-val">
                  заглавие 3
                </div>
              </li>

              <li class="price__coll">
                <div class="price__coll-val">
                  заглавие 4
                </div>
              </li>

              <li class="price__coll">
                <div class="price__coll-val">
                  заглавие 5
                </div>
              </li>
            </ul>
          </li>

          <li class="price__row">
            <ul class="price__coll-w">
              <li class="price__coll">
                <div class="price__coll-val">
                  Кран
                </div>
              </li>

              <li class="price__coll">
                <div class="price__coll-val">
                  Что то не знаю что
                </div>
              </li>

              <li class="price__coll">
                <div class="price__coll-val">
                  13т 10м
                </div>
              </li>

              <li class="price__coll">
                <div class="price__coll-val">
                  колонка 4
                </div>
              </li>

              <li class="price__coll">
                <div class="price__coll-val">
                  колонка 5
                </div>
              </li>
            </ul>
          </li>

          <li class="price__row">
            <ul class="price__coll-w">
              <li class="price__coll">
                <div class="price__coll-val">
                  Кран
                </div>
              </li>

              <li class="price__coll">
                <div class="price__coll-val">
                  Что то не знаю что
                </div>
              </li>

              <li class="price__coll">
                <div class="price__coll-val">
                  13т 10м
                </div>
              </li>

              <li class="price__coll">
                <div class="price__coll-val">
                  колонка 4
                </div>
              </li>

              <li class="price__coll">
                <div class="price__coll-val">
                  колонка 5
                </div>
              </li>
            </ul>
          </li>

          <li class="price__row">
            <ul class="price__coll-w">
              <li class="price__coll">
                <div class="price__coll-val">
                  Кран
                </div>
              </li>

              <li class="price__coll">
                <div class="price__coll-val">
                  Что то не знаю что
                </div>
              </li>

              <li class="price__coll">
                <div class="price__coll-val">
                  13т 10м
                </div>
              </li>

              <li class="price__coll">
                <div class="price__coll-val">
                  колонка 4
                </div>
              </li>

              <li class="price__coll">
                <div class="price__coll-val">
                  колонка 5
                </div>
              </li>
            </ul>
          </li>

          <li class="price__row">
            <ul class="price__coll-w">
              <li class="price__coll">
                <div class="price__coll-val">
                  Кран
                </div>
              </li>

              <li class="price__coll">
                <div class="price__coll-val">
                  Что то не знаю что
                </div>
              </li>

              <li class="price__coll">
                <div class="price__coll-val">
                  13т 10м
                </div>
              </li>

              <li class="price__coll">
                <div class="price__coll-val">
                  колонка 4
                </div>
              </li>

              <li class="price__coll">
                <div class="price__coll-val">
                  колонка 5
                </div>
              </li>
            </ul>
          </li>

          <li class="price__row">
            <ul class="price__coll-w">
              <li class="price__coll">
                <div class="price__coll-val">
                  Кран
                </div>
              </li>

              <li class="price__coll">
                <div class="price__coll-val">
                  Что то не знаю что
                </div>
              </li>

              <li class="price__coll">
                <div class="price__coll-val">
                  13т 10м
                </div>
              </li>

              <li class="price__coll">
                <div class="price__coll-val">
                  колонка 4
                </div>
              </li>

              <li class="price__coll">
                <div class="price__coll-val">
                  колонка 5
                </div>
              </li>
            </ul>
          </li>

        </ul>
      </div>

    </div>

  </div>
</section>
