<section class="section">
  <div class="container">

    <div class="product-descr">

      <h2 class="section__title center-mod">
        Аренда манипулятора <span class="product-descr__name-val">КаМаЗ 87465</span>
      </h2>

      <div class="product-descr__prod-w">

        <div class="product-descr__prod-col">
          <div class="product-descr__img-in">
            <img src="https://clck.ru/WY7K6" alt="" class="product-descr__img">
          </div>
        </div>

        <div class="product-descr__prod-col flex-mod width-mod">

          <ul class="product-descr__info-list">

            <li class="product-descr__info-item">
              <div class="product-descr__info-char">
                Грузоподьемность:
              </div>
              <div class="product-descr__info-val">
                10 тонн
              </div>
            </li>

            <li class="product-descr__info-item">
              <div class="product-descr__info-char">
                Вылет стрелы:
              </div>
              <div class="product-descr__info-val">
                7 метров
              </div>
            </li>

            <li class="product-descr__info-item offset-mod">
              <div class="product-descr__info-char">
                Длинна борта:
              </div>
              <div class="product-descr__info-val">
                6,4 метра
              </div>
            </li>

            <li class="product-descr__info-item">
              <div class="product-descr__info-char">
                Цена за час:
              </div>
              <div class="product-descr__info-val">
                1500 руб
              </div>
            </li>

            <li class="product-descr__info-item offset-mod">
              <div class="product-descr__info-char">
                Цена за смену:
              </div>
              <div class="product-descr__info-val">
                12000 руб
              </div>
            </li>

            <li class="product-descr__info-item grow-mod">
              <button class="btn-base">Заказать манипулятор</button>
            </li>

          </ul>

        </div>

      </div>

    </div>

  </div>
</section>
