<section class="section">
  <div class="container">

    <div class="company ">

      <article class="company__info requrst-mod">
        <h3 class="section__title">
          Оставить заявку
        </h3>
      </article>

      <form action="POST" class="company__form requrst-mod">
        <div class="company__form-in requrst-mod">
          <label for="" class="form-label label-v1">
            <input class="form-input" type="text" name="" id="" placeholder="Имя">
          </label>

          <label for="" class="form-label label-v1">
            <input class="form-input" type="text" name="" id="" placeholder="Фамилия">
          </label>

          <button class="btn-base offset-mod">Заказать манипулятор</button>
        </div>
      </form>

    </div>

  </div>
</section>
