<section class="section">
  <div class="container">

    <div class="reviews">

      <h2 class="section__title center-mod">
        Наши отзывы
      </h2>
      <div class="reviews__list-w">
        <ul class="reviews__list">
          <li class="reviews__item">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro tenetur praesentium doloribus aperiam accusamus quaerat vero sequi, dolores fuga molestiae distinctio magnam numquam sunt. Possimus est cum adipisci temporibus qui.
          </li>

          <li class="reviews__item">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro tenetur praesentium doloribus aperiam accusamus quaerat vero sequi, dolores fuga molestiae distinctio magnam numquam sunt. Possimus est cum adipisci temporibus qui.
          </li>

          <li class="reviews__item">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro tenetur praesentium doloribus aperiam accusamus quaerat vero sequi, dolores fuga molestiae distinctio magnam numquam sunt. Possimus est cum adipisci temporibus qui.
          </li>
        </ul>
      </div>

    </div>

  </div>
</section>
