<section class="section">
  <div class="container">

    <div class="see-more">

      <h2 class="section__title center-mod">
        Услуги манипулятора
      </h2>

      <div class="swiper-container see-more-slider">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          @include('templates/see-more-slide.html')
          @include('templates/see-more-slide.html')
          @include('templates/see-more-slide.html')
          @include('templates/see-more-slide.html')
          @include('templates/see-more-slide.html')
          @include('templates/see-more-slide.html')
          @include('templates/see-more-slide.html')
          @include('templates/see-more-slide.html')

        </div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

    </div>

  </div>
</section>
